.activity-head{
    color: rgb(16, 11, 108);
}
.activity-container{
    margin:0 7%;
}
.activity-2{
    margin-top: 50px;
}
.activity-student-1{
    height: 90px;
    background-color: rgb(220, 213, 213);
    font-size: 70px;
    padding-top: 5px;
    padding-left: 15px;
    color: rgb(86, 82, 82);
}
.activity-student-head{
    margin-left: 15px;
    margin-bottom: 5px;
}
.activity-student-des{
    margin-left: 15px;
    color: rgb(109, 104, 104);
}
.activity-student-para{
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}
.activity-student-container{
    border: 1px solid rgb(190, 186, 186);
    border-radius: 3px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}