.about-container{
    margin: 7%;
    margin-top:0;
}
.about-head{
    color: rgb(16, 11, 108);
}
.event-link{
    text-decoration: none;
    cursor: pointer;
}
.event-link:hover{
    color: rgb(50, 103, 209);
    text-decoration: underline;
}
.event-line{
    background-color: rgb(165, 159, 159);
    margin-top: 10px;
    margin-bottom: 10px;
}