
.modalContainer {
  width: 75%;
  height: 100%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top: 150px;
  left: 10%;
}
.titleCloseBtn{
    cursor: pointer;
}