
.modalContainer {
  width: 75%;
  height: 110%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top: 150px;
  left: 10%;
}
.titleCloseBtn{
    cursor: pointer;
}
.popup-head{
  text-align: center;
  color: blue;
  text-decoration: underline;
}
.popup-para{
  text-align: justify;
}
.X-btn{
  cursor: pointer;
}
.chapter-1{
  text-align: right;
}
.popup-close{
  width: 100px;
  cursor: pointer;
}
.popup-close-1{
  display: flex;
  justify-content: flex-end;
}