
/* middle */

.home-image{
    height: 400px;
    background-image: url('https://ewh.ieee.org/r10/calcutta/images/img1.jpg');
    animation: slider 30s infinite linear;
    margin-bottom: 20px;
}
@keyframes slider{
    0%{
        background-image: url('https://ewh.ieee.org/r10/calcutta/images/img2.jpg');
    }
    25%{
        background-image: url('https://ewh.ieee.org/r10/calcutta/images/img1.jpg');
    }
    50%{
        background-image: url('https://ewh.ieee.org/r10/calcutta/images/img3.jpg');
    }
    75%{
        background-image: url('https://ewh.ieee.org/r10/calcutta/images/img4.jpg');
    }

}
/* home-news */

.home-news{
    display: flex;
    height: 655px;
}
.home-news-left{
    flex: 1;
    height: 100px;
    background-color: white;
}
.home-news-right{
    flex: 2;
}
.home-news-mid{
    flex: 2;
}
.home-news-left-1{
    height: 160%;
    width: 80%;
    background-color: rgb(232, 90, 3);
    padding-top: 5px;
}
.home-news-list{
    list-style-type: circle;
    margin: 5px;
    color: #fff;
    cursor: pointer;
}
.home-news-head{
    color: #fff;
}
.home-news-left-2{
    height: 200%;
    width: 80%;
    background-color: rgb(14, 124, 243);
    padding-top: 5px;
}
.home-news-left-3{
    height: 230%;
    width: 80%;
    background-color: rgb(3, 76, 8);
    padding-top: 5px;
}
.home-news-mid{
    text-align: center;
    margin-left: 20px;
}
.line{
    height: 2px;
    background-color: rgb(169, 145, 10);
    border: none;
    width: 100%;
}
.home-news-scroll-text{
  height: 300px;
  overflow: hidden;
}
.home-news-mid-para{
    height: 100%;
  text-align: start;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 10s linear infinite;
}
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.home-news-right{
    padding: 20px;
}
.home-news-right-img{
    height: 400px;
    width: 80%;;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  
    box-shadow:         3px 3px 5px 6px #ccc;
}
.home-event-head{
    color: rgb(3, 3, 76);
    padding-left: 20px;
}

/* Home-Event */
.home-event-head{
    font-size: 50px;
    font-weight: normal;
}
.event-container{
    display: flex;
}
.event-left{
    flex: 1;
    justify-content: center;
}
.event-mid{
    flex: 1;
}
.event-right{
    flex: 1;
}
.event-img{
    width: 100%;
}
.event-2{
    width: 100%;
    text-align: center;
}
.event-1{
    width: 80%;
    border: 1px solid #a7d4d4;
    margin-left: 10%;
    border-radius: 10px;
    overflow: hidden;
}
.event-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, yellow, yellow);
  background-image: -moz-linear-gradient(top,  yellow, yellow);
  background-image: -ms-linear-gradient(top,  yellow, yellow);
  background-image: -o-linear-gradient(top,  yellow, yellow);
  background-image: linear-gradient(to bottom,  yellow, yellow);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000;
  margin-top: 10px;
  font-size: 20px;
  border: none;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.event-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.event-des{
    color: rgb(58, 55, 55);
}
.event-date{
    color: rgb(31, 19, 89);
}
.event-name{
    color: rgb(31, 19, 89);
}
.event-button {
  background: #0016de;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(top, rgb(9, 115, 246), rgb(9, 115, 246));
  background-image: -moz-linear-gradient(top,  rgb(9, 115, 246), rgb(9, 115, 246));
  background-image: -ms-linear-gradient(top,  rgb(9, 115, 246), rgb(9, 115, 246));
  background-image: -o-linear-gradient(top,  rgb(9, 115, 246), rgb(9, 115, 246));
  background-image: linear-gradient(to bottom,  rgb(9, 115, 246), rgb(9, 115, 246));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.event-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.message{
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color: #cfcfcf;
}
.message-left{
    flex: 1;
    margin-top: 50px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}
.message-mid{
    flex: 1;
     margin-top: 50px;
    width: 80%;
     padding-left: 20px;
    padding-right: 20px;
}
.message-right{
    flex: 1;
     margin-top: 50px;
    width: 80%;
     padding-left: 20px;
    padding-right: 20px;
}
.profile-pic{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    float: left;
}
.message-para{
    color: rgb(104, 97, 97);
}
.link1{
    text-decoration: none;
    color: black;
}